body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#game-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clicker-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#upgrade-board {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#cheat-board {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none; /* Initially hidden */
}

button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

#clicker-btn {
    font-size: 20px;
    padding: 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}

.upgrade-item {
    margin-bottom: 20px;
}

#name-change-container {
    margin-bottom: 15px;
}

#name-change-container input {
    padding: 8px;
    margin-right: 10px;
}
